/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#filler {
  -moz-margin-start: -8px;
  -moz-margin-end: -10px;
}

#filler spacer {
	width: 16em !important;
}

.dialog-button-box {
	-moz-binding: url("chrome://global/skin/globalBindings.xml#add-messagebox-button-margins");
}

.messagebox-button-spacer {
	width: 1.5em;
}

#loginContainer:not([hidden="true"]),
#password1Container:not([hidden="true"]) {
	min-width: 32em !important;
}

#commonDialog:has(#loginContainer:not([hidden="true"])) #iconContainer .question-icon#info\.icon {
	list-style-image: url("chrome://global/skin/icons/alert-prompt.png");
}

#commonDialog:has(#password1Container:not([hidden="true"])) #iconContainer .question-icon#info\.icon,
#commonDialog:has(#loginContainer:not([hidden="true"])):has(#password1Container:not([hidden="true"])) #iconContainer .question-icon#info\.icon {
	list-style-image: url("chrome://global/skin/icons/alert-auth.gif");
}

#commonDialog:has(#password1Container[hidden="true"]) #loginContainer:not([hidden="true"]) {
	margin-top: -8px;
}

.dialog-button-box button.dialog-button {
	min-width: 88px;
}

.dialog-button-box button.dialog-button > .button-box {
	padding-top: 0;
	padding-bottom: 1px;
}

#commonDialog:has(#loginContainer[hidden="true"]):has(#password1Container[hidden="true"]) #checkboxContainer:not([hidden="true"]) {
	margin-top: -7px;
}

#commonDialog:has(#loginContainer:not([hidden="true"])) #checkboxContainer:not([hidden="true"]),
#commonDialog:has(#password1Container:not([hidden="true"])) #checkboxContainer:not([hidden="true"]) {
	margin-bottom: -1px;
}

#commonDialog:has(#loginContainer[hidden="true"]):has(#password1Container[hidden="true"]) .dialog-button-box {
	margin-top: -1px;
}

#commonDialog:has(#loginContainer[hidden="true"]):has(#password1Container[hidden="true"]):has(#checkboxContainer[hidden="true"]) .dialog-button-box {
	margin-top: -2px;
}
