/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#filler {
  -moz-margin-start: -8px;
  -moz-margin-end: -10px;
}

#filler spacer {
	width: 19em !important;
}

#loginContainer:not([hidden="true"]),
#password1Container:not([hidden="true"]) {
	min-width: 36em !important;
}

#commonDialog:has(#loginContainer:not([hidden="true"])):has(#password1Container:not([hidden="true"])) #iconContainer #info\.icon {
	list-style-image: url("chrome://global/skin/icons/alert-auth.gif");
}

button {
	min-width: 88px;
}

button > .button-box {
	padding-top: 0px;
	padding-bottom: 1px;
}

#checkboxContainer {
	margin-top: -5px;
}
