/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== preferences.css =====================================================
   == Styles used by the XUL prefwindow element.
   ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: dialog ::::: */

prefwindow {
	padding: 0px;
}

prefpane {
	padding-top: 8px;
	padding-bottom: 10px;
	padding-inline-start: 8px;
	padding-inline-end: 10px;
}

prefwindow[type="child"] {
	padding-top: 8px;
	padding-bottom: 10px;
	padding-inline-start: 8px;
	padding-inline-end: 10px;
}

prefwindow[type="child"] > prefpane {
	padding: 0px;
}

.prefWindow-dlgbuttons {
	padding-bottom: 10px;
	padding-inline-start: 8px;
	padding-inline-end: 10px;
}

prefwindow[type="child"] .prefWindow-dlgbuttons {
	padding: 0px;
}

radio[pane] {
	-moz-appearance: none;
	margin: 0px 1px 0px 1px;
	padding: 1px 3px 1px 3px;
	min-width: 4.5em;
}

.paneSelector {
	border-bottom: 2px groove ThreeDFace;
	margin: 0px;
	padding-inline-start: 10px;
	background-color: -moz-Field;
	color: -moz-FieldText;
}

.paneButtonIcon {
	width: 32px;
	height: 32px;
}

radio[pane]:hover {
	background-color: #E0E8F6;
	color: black;
	-moz-appearance: none;
}

radio[pane][selected="true"] {
	background-color: #C1D2EE;
	color: black; 
	-moz-appearance: none;
}

@media (-moz-os-version: windows-vista), 
       (-moz-os-version: windows-win7), 
       (-moz-os-version: windows-win8), 
       (-moz-os-version: windows-win10), 
       (-moz-os-version: windows-win11) {
	@media (-moz-windows-default-theme) {
		dialog,
		prefwindow {
			background-color: color-mix(in srgb, #CCD9EA, white 35%);
			background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.7));
		}
	}
}

@media (-moz-windows-glass),
       (-moz-windows-compositor) {
	/* Buttons */
	button,
	menulist,
	colorpicker[type="button"] {
		-moz-appearance: none;
		color: black;
		background: linear-gradient(rgba(251, 252, 253, 0.95), transparent 49%, rgba(211, 212, 213, 0.45) 51%, rgba(225, 226, 229, 0.3));
		background-clip: padding-box;
		border-radius: 3px;
		border: 1px solid rgba(31, 64, 100, 0.4);
		border-top-color: rgba(31, 64, 100, 0.3);
		box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25) inset, 0 0 2px 1px rgba(255, 255, 255, 0.25) inset;
		padding: 1px;
	}

	button[default="true"]:not([disabled="true"]) {
		border-color: #7aa5da;
		background-color: #3d84dd04;
	}

	menulist {
		-moz-padding-end: 0;
	}

	colorpicker[type="button"]:-moz-focusring:not([open="true"]) > .colorpicker-button-colorbox {
		outline: 1px dotted ThreeDDarkShadow;
	}

	button[disabled="true"],
	menulist[disabled="true"],
	colorpicker[type="button"][disabled="true"] {
		-moz-border-top-colors: rgba(31, 64, 100, 0.3) !important;
		-moz-border-right-colors: rgba(31, 64, 100, 0.4) !important;
		-moz-border-bottom-colors: rgba(31, 64, 100, 0.4) !important;
		-moz-border-left-colors: rgba(31, 64, 100, 0.4) !important;
		opacity: 0.8;
		color: #505050;
	}

	button:not([disabled="true"]):hover,
	menulist:not([open="true"]):not([disabled="true"]):hover,
	colorpicker[type="button"]:not([open="true"]):not([disabled="true"]):hover {
		background-color: #fdfeffcc;
	}

	button:not([disabled="true"]):hover:active,
	menulist[open="true"]:not([disabled="true"]),
	colorpicker[type="button"][open="true"]:not([disabled="true"]) {
		background-color: rgba(61, 76, 92, 0.2);
		border-color: rgba(39, 53, 68, 0.5);
		box-shadow: 0 0 3px 1px rgba(39, 53, 68, 0.2) inset;
	}

	button > .button-box {
		padding: 1px !important;
	}

	spinbuttons > .spinbuttons-box > .spinbuttons-button {
		border-radius: 0;
		padding: 0 4px;
	}

	spinbuttons > .spinbuttons-box > .spinbuttons-up {
		list-style-image: url("chrome://global/skin/arrow/arrow-up.gif");
		border-bottom-width: 0;
	}

	spinbuttons > .spinbuttons-box > .spinbuttons-down {
		list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif");
	}
}
